*{
  margin: 0;
  padding: 0;
}
.App{
  width: 100%;
}
.cards{
  display: grid;
  justify-content:center;
  grid-template-columns: auto auto auto;
  padding: 10px;
  height: 100%;
}

.loader{
  width: 70px;
  height: 50px;
  border-radius: 50%;
  animation: mymove 0.5s infinite;
}

@keyframes mymove {
  100% {transform: rotate(360deg);}
}

